langchain-chroma
langchain-huggingface
langchain-ollama
langchain-core
langgraph
requests
urllib3
sentence-transformers
fastapi
uvicorn[standard]
langchain
langchain-community
langchain-classic
flashrank
deep-translator